.full {
  background-color: #e9eff1;
}

main > .container {
  padding: 60px 15px 0;
}

body {
  height: 100%;
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
}

@media only screen and (max-width: 600px) {
  .carousel-caption h3 {
    font-size: 1rem;
  }

  .carousel-caption h1 {
    font-size: 1.5rem;
  }
}
