.full {
  background-color: #e9eff1;
}

main > .container {
  padding: 60px 15px 0;
}

body {
  height: 100%;
}

.body {
  /* background-color: #efefef; */
  height: 60vh;
  padding-top: 6rem;
}

.body h1 {
  text-align: center;
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
}

.page-body {
  padding-top: 10vh!important;
}

@media only screen and (max-width: 600px) {
  .carousel-caption h3 {
    font-size: 1rem;
  }

  .carousel-caption h1 {
    font-size: 1.5rem;
  }

  .body {
    background-color: #efefef;
    height: 60vh;
    padding-top: 2rem;
  }
}
