.page-body {
  padding: 6.6vmax 0;
    width: 90vw !important;
  margin: auto !important;
}



.heading-custom-5 ul > li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

@media only screen and (max-width: 993px) {
  .page-body {
    padding: 6.6vmax 0;
    width: 90vw !important;
    margin: auto !important;
  }
}
